// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: blueviolet;
}

.container {
  margin: 50px;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: red;
}

.table-primary {
  text-align: center;
}

a {
  color: black;
  opacity: 0,7;
}

a:hover {
  text-decoration: none;
  opacity: 1;
}
